/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Feb 2020, 16:45:25
    Author     : Tienesh
*/

.titleRectangle{
    -fx-background-fills: #3399ff;
}

.button{
    -fx-background-color: #3399ff;
}

.button:pressed {
    -fx-background-color: darkgrey;
}

.button:hover{
    -fx-background-color: darkgrey;
    -fx-border-color: white;
}